<!--
Login view
It contains an input for the user to choose a nickname.
If the input is empty the form can not be submitted.
If the nickname is already in use by another user, an error will appear.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../register/register.css">
</head>
<body>

<div class="container" id="main-container">
    <div class="row justify-content-center align-items-center">
        <div class="card align-self-center">
            <div class="card-body">
                <form class="justify-content-center">
                    <div class="form-group mb-2">
                        <label for="nickname" class="sr-only">Nickname</label>
                        <input type="text" class="form-control" id="nickname" value="" placeholder="Nickname" required>
                        <div class="invalid-tooltip" id="nickname-repeated">
                            The username is already in use.
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="nickname" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password" value="" placeholder="Password" required>
                        <div class="invalid-tooltip" id="invalid-pass">
                            Password should be at least 6 characters long
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <input type="file" id="file-input" name="img[]" class="file" accept="image/*" required>
                        <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Upload profile image" id="file-text">
                            <div class="input-group-append">
                                <button type="button" id="image-browse" class="browse btn btn-primary">Browse...</button>
                            </div>
                        </div>
                        <div class="preview-container">
                            <img src="https://placehold.it/160x160" id="preview" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="invalid-tooltip" id="error">
                        An error has occurred. Please try again later.
                    </div>
                    <div class="buttons-container justify-content-between mt-4 no-gutters row">
                        <button type="button" class="btn btn-secondary login-btn mb-2">Login</button>
                        <button type="submit" class="btn btn-primary go-btn mb-2">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../../models/user.js" type="module"></script>
<script src="../register/register.js" type="module"></script>

</body>
</html>
