.last-message {
    font-size: 10px;
    color: grey;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item {
    background-color: whitesmoke;
    border: 1px solid lightsteelblue;
    display: flex;
}

.group-info {
    width: 92%;
}

.active-group {
    background-color: lightgrey;
    color: black;
}

.active-group i {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
