<!--
    List of the users that are in the chat group.
    The circle next to the name of the user represents if it is online or not.
    If the circle is green the user is online.
    If the circle is red the user if offline.
-->

<div class="dropdown dropleft">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Users
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="user-list">
<!--        <div class="dropdown-item">-->
<!--            <div class="row justify-content-between">-->
<!--                <div>Ignacio</div>-->
<!--                <i class="material-icons online-icon">brightness_1</i>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
