* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
html, body, .main-container {
    height: 100%;
}
.chat-container {
    border-left: 1px solid grey;
    background: url(https://i.imgur.com/RGsYHhj.png) no-repeat;
    background-size: 100%;
}
#message-form {
    /*background: #000;*/
    background: grey;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 75vw;
}
#message-form input {border: 0; padding: 10px; width: 65%; margin-right: .5%; }
#message-form button {
    width: 9.5%;
    /*background: rgb(130, 224, 255);*/
    background: lightsteelblue;
    border: none;
    padding: 10px; }
#message-form .custom-file{
    width: 24.5%;
    margin-right: .5%;
}
#message-form .custom-file .custom-file-label{
    height: calc(1.5em + .75rem + 3px);
    margin-bottom: 0;
    border-radius: 0;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
/*#messages li:nth-child(odd) { background: #eee; }*/
#messages { margin-bottom: 40px }
#messages .time {
    text-align: end;
    font-size: 10px;
    margin-top: 5px;
}
#messages .msg-container {
    max-width: 215px;
    border-radius: 10px;
    padding: 5px 10px;
    background: antiquewhite;
}
#messages .msg-container.private-message {
    background: #9370dba3;
}
#messages .author {
    background: lightgreen;
    margin-left: auto;
}
#messages .author-name {
    font-weight: bold;
    padding-bottom: 5px;
    color: brown;
}
#messages .file-container {
    padding-bottom: 5px;
}
#messages .file-container a{
    width: 85%;
    overflow-wrap: break-word;
}
#messages .file-container i{
    width: 15%;
}
#messages .file-container img {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}
#messages .author-name.private-message{
    color: black;
}
#messages .dropdown {
    margin-left: auto;
}
#messages .server {
    max-width: unset;
    width: fit-content;
    width: -moz-fit-content;
    background: white;
    margin: 0 auto;
    color: grey;
}
#messages p {margin-bottom: 0;}

.col {
    padding-right: unset;
    padding-left: unset;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

.header-title {
    /*background-color: rgb(130, 224, 255);*/
    background-color: lightsteelblue;
    height: 50px;
    max-width: unset;
    align-items: center;
}

.header-title h4 {
    margin-bottom: 0;
}

.add-group-container {
    margin-left: auto;
}

.add-group-container form{
    display: flex;
}

.group-add{
    /*color: darkgreen;*/
    color: forestgreen;
    font-size: 32px!important;
    /*margin-left: 10px;*/
    background-color: darkgray;
    border-radius: 0 5px 5px 0;
    padding: 2px 5px;
}
#new-group-form input {
    border: 0;
    padding: 10px;
    background-color: whitesmoke;
    width: 130px;
    border-radius: 5px 0 0 5px;
}

#group-list .list-group-item {
    background-color: whitesmoke;
    border: 1px solid lightsteelblue;
    display: flex;
}

#group-list .group-info {
    width: 92%;
}

.clickable{
    cursor: pointer;
}

#invite-user {
    padding-right: 30px;
}

#invite-user input {
    border: 0;
    padding: 10px;
    background-color: whitesmoke;
    width: 130px;
    border-radius: 5px 0 0 5px;
}

#invite-user .group-add {
    font-size: 31px!important;
}

